@model IEnumerable<pharma_sales_and_management_system.Models.AgencyOrder>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_companyLayout";
}

<div class="container">
    <h1 style="margin-left:10%;">Agency Orders</h1>

    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDelivered)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agency.AgencyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company.ComponyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            <center>
                                Action
                            </center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDelivered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Agency.AgencyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company.ComponyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </td>
                            <td>
                                <center>

                                    @if (item.IsDelivered == 1)
                                    {
                                        <button class="btn btn-secondary" disabled>Delivered</button>
                                    }
                                    else
                                    {
                                        <form asp-action="Index" method="post">
                                            <input type="hidden" name="verify" class="form-control" value="0" />
                                            <input type="hidden" name="qty" class="form-control" value="@item.Quantity" />
                                            <input type="hidden" name="pid" class="form-control" value="@item.ProductId" />
                                            <button type="submit" class="btn btn-primary" asp-route-id="@item.Id">Accept</button>
                                        </form>
                                    }
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        });
    });
</script>