@model IEnumerable<pharma_sales_and_management_system.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_AgencyLayout";
}

<h1>Categories</h1>

<form asp-action="Index" method="get">
    <input type="text" name="search" />
    <input type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="position:absolute;width:80%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
