@model IEnumerable<pharma_sales_and_management_system.Models.MedicalSellingProduct>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_MedicalLayout";
}

<div class="container">
    <h1 style="margin-left:10%;">Medical Selling Products</h1>
    <p>
        <a asp-action="Create" class="btn btn-success">Add New</a>
    </p>
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mrp)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mrp)
                            </td>
                            <td>
                                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        });
    });
</script>