@model IEnumerable<pharma_sales_and_management_system.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_MedicalLayout";
}

<h1>Index</h1>
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="position:absolute;width:80%;">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.ProductImage)*@
               Image
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RetailPrice)*@
                Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Disease)*@
                Disease
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ExpDate)*@
                Expire Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ProductImage)" height="50px" width="50px">
                @* @Html.DisplayFor(modelItem => item.ProductImage) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                    @if (ViewBag.Confirmed == 1)
                    {
                        @*<button class="btn btn-success" asp-controller="MedicalMedicine" asp-action="PurchaseMedicine"> Purchase </button>*@
                        <form asp-action="PurchaseMedicine" asp-controller="MedicalMedicine" method="post">
                            <input type="hidden" name="productName" value=@item.ProductName>
                            <input type="hidden" name="companyId" value=@item.CompanyId>
                        <button type="submit" class="btn btn-success">Purchase</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled> Not Verified </button>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
