@model IEnumerable<pharma_sales_and_management_system.Models.AgencyProductStock>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_AgencyLayout";
}

<h1>Agency Product Stocks</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table" style="position:absolute;width:80%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
